.sphere-loader-container {
  position: relative;
  width: 200px;
  height: 200px;
  zoom: 0.5;
  flex-shrink: 0;
  margin: 0 auto;
}

.sphere-loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: girar 8s linear infinite;
  width: 400px;
  height: 400px;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 10000px;
}

.sphere-loader .sphere,
.sphere-loader .item {
  width: 400px;
  height: 400px;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 10000px;
  top: 0;
  left: 0;
}

.sphere-loader .sphere {
  transform: rotate(calc(var(--rot) * 20deg));
}

.sphere-loader .sphere.sphere1 {
  --bg: #f008;
}

.sphere-loader .sphere.sphere2 {
  --bg: #f0f8;
}

.sphere-loader .sphere.sphere3 {
  --bg: #ff08;
}

.sphere-loader .sphere.sphere4 {
  --bg: #0f08;
}

.sphere-loader .sphere.sphere5 {
  --bg: #0ff8;
}

.sphere-loader .sphere.sphere6 {
  --bg: #00f8;
}

.sphere-loader .sphere.sphere7 {
  --bg: #dc1ddf88;
}

.sphere-loader .sphere.sphere8 {
  --bg: #ffa50088;
}

.sphere-loader .sphere.sphere9 {
  --bg: #e5b2ca88;
}

.sphere-loader .item {
  border-radius: 50%;
  background: var(--bg);
  transform: rotateY(calc(var(--rot-y) * 40deg));
}

@keyframes girar {
  0% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg);
  }
}
